.film__list__item {
  max-width: 100%;
  margin: 20px;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 20px) / 2);
    max-width: 293px;
    margin: 20px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 6 * 20px) / 3);
    max-width: 274px;
    margin: 20px;
  }
}

.film__poster {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;

  margin-bottom: 10px;

  // width: 280px;
  // @media screen and (min-width: 768px) {
  //   width: 293px;
  // }
  // @media screen and (min-width: $desktop) {
  //   width: 274px;
  // }
}

.film__card__info {
  height: 32px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  align-items: center;
  overflow: hidden;
}

.film__title {
  margin: 0;
  text-transform: uppercase;
  color: #000000;
}

.film__card__details {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}

.film__details {
  margin: 0;
  color: $accent-color;
}

.film__details-vote {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 36px;
  height: 16px;

  text-transform: uppercase;
  border-radius: 5px;

  color: #ffffff;
  background-color: $accent-color;
}
