.main__container {
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;

  @media screen and (min-width: $mobile) {
    max-width: 280px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 648px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 882px;
  }
}
