
.main__button-list{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 374px;
    height: 40px;
}

.button-list__pgn,
.button-list__page  {
    border-color: transparent;
    border-radius: 5px;
}

.button-list__pgn {
    height: 40px;
}

.button-list__page {
    padding: 0;
    background-color: transparent;
} 

.button-list__page--current {

    color:#FFFFFF;
}


li.button-list__item {
    margin: 8px;   
}

.button-list__item:last-child{
    margin-right: 8px;
}

.button-list__item--curretn {
    height: 40px;
    width: 40px;
    background: #FF6B08;
    border-radius: 5px;
}


.button-list__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // height: 40px;    
}
