  
<main class="main">
  <div class="main__container">
      <h1 class="main__title"></h1>
      <ul class="main__film-list"></ul>
      <ul class="main__btn-list">
          <li class="btn-list__item"><button class="item__previous-btn"></button></li>
          <li class="btn-list__item">
              <ul class="item__list">
                  <li class="list__item"><button class="item__btn">1</button></li>
                  <li class="list__item"><button class="item__btn">2</button></li>
                  <li class="list__item"><button class="item__btn">3</button></li>
              </ul>
          </li>
          <li class="btn-list__item"><button class="item__next-btn"></button></li>
      </ul>
  </div>
</main>